<template>
    <div class="container">
        <h4 class="font-weight-bold py-3 mb-4">Home</h4>
        <p>This page is an example of basic layout. For more options use <strong>Laravel starter template generator</strong> in the docs.</p>
        <p><button class="btn btn-primary btn-lg">Button</button></p>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
